extends layout

block body
	.container(ng-controller="ListCtrl")
		.container.navbar.navbar-default
			.row
				.col-xs-2.col-sm-2.text-left
				.col-xs-5.col-sm-5.text-center
					a.navbar-brand(href="#") Magic-Chest
					.btn-group
						button.btn.btn-default.navbar-btn.dropdown-toggle(data-toggle='dropdown') #{email}
							span.caret
						ul.dropdown-menu(role="menu")
							li
								a.text-left(href="https://www.google.com/accounts/Logout") Logout
				.col-xs-5.col-sm-5.text-right
					button.btn.btn-default.navbar-btn.glyphicon.glyphicon-trash(type="button",class="{{isFileSelected()}}", ng-click="deleteFile()")
					.btn(file-button)
						button.btn.btn-default.navbar-btn.glyphicon.glyphicon-circle-arrow-up(type="button")
					.btn-group
						a.btn.btn-default.navbar-btn.dropdown-toggle.glyphicon.glyphicon-globe(class="{{isFileSelected()}}", data-toggle="dropdown")
							span.caret
						ul.dropdown-menu(style="min-width: 70px;", role="menu")
							li
								a.text-left(href="#shareModal", data-toggle='modal') Share
							li
								a.text-left(href="#") Info
			.row
				.messagesList(app-messages)
					form.form-horizontal(role="form", name="form1", ng-submit="submit()", enctype="multipart/form-data", novalidate)
						.panel.panel-default
							.panel-body
							.drop-box(ng-show="dropSupported", ng-file-drop="set($files)", ng-file-drop-available="dropSupported=true") drop files in here
							div(ng-show="!dropSupported") HTML5 Drop File is not supported on this browser
							.progress.progress-striped(ng-show="uploadfile!=null")
								.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="{{ progress }}", aria-valuemin="0", aria-valuemax="100", style="width: {{ progress }}%;")
									span.sr-only {{ progress }}% Complete (success)
							.response(ng-show="uploadResult.length > 0") Server Response:
								ul
									li(ng-bind-html-unsafe="result") {{result}}
			.row.show-grid
				.col-xs-12
					div(ng-show="loading") Loading ...
					ul.list-group(id="listFiles")
						li.form-inline.list-group-item(ng-repeat="file in files")
							.input-group
								span.input-group-addon
									input(type="checkbox", name="checkbox-{{file.name}}", id="checkbox-{{file.name}}", ng-model="file.selected")
								a.form-control.btn(style="width: 98%; text-align: left;", class="{{ isButtonSelected(file) }}", ng-href="api/files/google/download?url={{file.downloadUrl }}&fileName={{file.cipheredName}}&permissionId={{file.permissionId}}") {{ file.name }}
		.modal.fade(id="shareModal")
			.modal-dialog">
				form.modal-content(name="myForm")
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
						h4.modal-title Email	
					.modal-body
						input.form-control(name="email", type="email", ng-model='email', required)
							span.has-error(ng-show="myForm.email.$error.email") Not valid email!
					.modal-footer
						a.btn(href="#", data-dismiss='modal') Cancel
						a.btn.btn-primary(class="{{ hasErrors() }}", data-dismiss='modal', ng-click='shareFile()') Share