doctype
- var env = process.env['NODE_ENV']
html
	head
		meta(charset='iso-8859-1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Magic-Chest
		<!--[if lte IE 8]>
		script
			document.createElement('ng-include')
			document.createElement('ng-pluralize')
			document.createElement('ng-view')
			document.createElement('textile')

			// Optionally these for CSS
			document.createElement('ng:include')
			document.createElement('ng:pluralize')
			document.createElement('ng:view')
		<![endif]-->
		- if (env === 'production')
			script(src='vendor.bundle.js')
			script(src='app.js')
		- else
			script(src='vendor.js')
			script(src='dev.js')
			script(src='app.js')
		base(href='/')
	body
		block body
