extends layout

block body
	#main(class='container')
		.messagesList
		.navbar
			a(href='#',class='navbar-brand') Magic-Chest
		.jumbotron
			h1 Magic-Chest
			form(action='auth/google/request', method='get', data-ajax="false")
				button(type='submit', class='btn btn-large btn-primary') Login