extends layout

block body
	#main(class='container')
		.messagesList
		.navbar
			a(href='#',class='navbar-brand') Magic-Chest
		.jumbotron
			h1 Magic-Chest
			a.btn.btn-large.btn-primary(href='auth/google/request') Google
			| &nbsp;
			a.btn.btn-large.btn-primary(href='auth/dropbox/request') Dropbox
			| &nbsp;
			a.btn.btn-large.btn-primary(href='auth/flickr/request') Flickr