/* app css stylesheet */

.nav>li>a {
	padding: 10px 35px;
}

.espacio {
	padding: 20px;
}

.progress1 {
	display: inline-block;
	border: 3px groove #CCC;
}

.progress1 div {
	font-size: smaller;
	background: orange;
	width: 0;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	height: 65px; 
	text-align: center;
	padding-top: 35px; 
}

.drop-box.dragover {
	border: 5px dashed blue;
}

/* for IE*/
.js-fileapi-wrapper {
	display: inline-block;
	vertical-align: middle;	
}

.infoMessage, .successMessage, .warningMessage, .errorMessage, .validationMessage {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.infoMessage {
	color: #00529B;
	background-color: #BDE5F8;
}

.successMessage {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.warningMessage {
	color: #9F6000;
	background-color: #FEEFB3;
}

.errorMessage {
	color: #D8000C;
	background-color: #FFBABA;
}